{
  "env": {
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "plugins": [
    "eslint-plugin-import",
    "eslint-plugin-jest",
    "eslint-plugin-prettier",
    "eslint-plugin-react",
    "eslint-plugin-react-hooks",
    "eslint-plugin-sort-requires"
  ],
  "rules": {
    "import/no-cycle": ["warn"],
    "import/order": ["warn", {
      "groups": [
        "builtin",
        "external",
        [
          "index",
          "internal",
          "parent",
          "sibling",
          "unknown"
        ]
      ],
      "newlines-between": "always"
    }],
    "jest/expect-expect": ["error", {
      "assertFunctionNames": [
        "expect",
        "request.**.expect"
      ]
    }],
    "no-console": ["warn"],
    "no-underscore-dangle": ["off"],
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "next"
    }],
    "sort-requires/sort-requires": ["warn"]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@server", "./server/src"]
        ],
        "extensions": [".js"]
      }
    }
  }
}
